<% content_for(:title) { "Public repositories" } %>

<h1>Public repositories</h1>

<p>This excludes archived repositories.</p>

<table>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Has contributing guidelines</th>
    <th scope="col">Has code of conduct</th>
    <th scope="col">Actions</th>
  </tr>
  <% @repos.each do |repo| %>
    <tr>
      <th scope="row"><%= link_to(repo.name, repo.url) %></th>
      <td class="<%= repo.has_contributing_guidelines? %>"><%= boolean_to_string(repo.has_contributing_guidelines?) %></td>
      <td class="<%= repo.has_code_of_conduct? %>"><%= boolean_to_string(repo.has_code_of_conduct?) %></td>
      <td>
        <% if repo.has_contributing_pr? %>
          <%= link_to("View existing pull request", repo.contributing_pr_link) %>
        <% else %>
          <%= link_to("Create pull request", repo_pull_requests_path(repo.name), method: :post) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
